body{
    background: linear-gradient(to right, rgb(34, 29, 84), rgb(4, 113, 201));
}

#heading{
    padding-top: 5%;
    margin-left: -6%;
}

::placeholder{
    color: black;
    font-family: sans-serif;
}

form{
    /* margin-bottom: -100%; */
    margin-left: 40%;
    height: 550px;
    width: 500px;
    background-color: rgba(252, 252, 252, 0.349);
    margin-left: 5%;
    padding-left: 6.5%;
    margin-top: 7%;
}

a{
    color: rgb(176, 4, 176);
}

#table{
    margin-left: 30%;
    margin-top: -32%;
}

#Category_name {
    height: 40px;
    width: 300px;
    background: transparent;
    font-size: larger;
    padding-left: 5%;
    border-bottom: 3px solid purple;
}

#dropdown {
    margin-top: 10%;
    height: 40px;
    width: 300px;
}
