body{
    background: url(../../Images/Form_bg\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#main{
    height: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.516);
    background-size: cover;
     margin-top: -10%; 
    /*padding-top: 10%;*/
}

#heading{
    padding-top: 10%;
}

::placeholder{
    color: white;
    font-family: sans-serif;
}

form{
    /* margin-bottom: -100%; */
    margin-left: 40%;
    height: 500px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.63);
    margin-left: 37%;
    padding-left: 3%;
}

a{
    color: rgb(176, 4, 176);
}