
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Blog_layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/Content/Mine/CSS/General/blog.css">

</head>
<body>


    <!-- ________________________________________Body_______________________________________________ -->
    <!-- ________________________________________Cards_______________________________________________ -->


    <div id="body">


        <h2 style="color: gray; font-family:'Times New Roman', Times, serif; font-weight: lighter; margin-top: 5%; margin-left: 45%;">-POETRY-</h2>

        <section id="cards">

            <div id="Card1">
                <img src="~/Content/Mine/Images/Music.jpg" alt="" height="220px" style="margin-left: 7%; margin-top: 10%;">
                <h1 id="card1_heading" style="margin-left: 32%; margin-top: 10%;"><a href="" class="poem_link">Memories</a></h1>
            </div>

            <div id="Card2">
                <img src="~/Content/Mine/Images/Form_bg.jpg" alt="" height="220px" style="margin-left: 6%; margin-top: 5%;">
                <h1 id="card2_heading" style="margin-left: 15%; margin-top: 12%;"><a href="" class="poem_link">The Essence Of Night</a></h1>
            </div>

            <div id="Card2">
                <img src="~/Content/Mine/Images/Form_bg (2).jpg" alt="" height="210px" style="margin-left: 5%; margin-top: 9%;">
                <h1 id="card3_heading" style="margin-left: 32%; margin-top: 12%;"><a href="" class="poem_link">Dear Me........</a></h1>
            </div>

        </section>

        <!-- _____________________________________Cards_______________________________________________ -->
        <!-- __________________________________Blogs1______________________________________________ -->

        <section id="sec_1">

            <h3 style="color: gray; font-family:'Times New Roman', Times, serif; font-weight: lighter; margin-top: 5%; margin-left: 27%;">-BOOK REVIEWS-</h3>

            <h1 style="color: rgb(70, 70, 70); font-family:'Times New Roman', Times, serif; font-weight: lighter; margin-top: 2%; margin-left: 20%; font-size: 40px; letter-spacing: 1px;">IT ENDS WITH US</h1>

            <div id="side1">

                <div id="poster1">
                    <img src="~/Content/Mine/Images/it_ends_with_us.jpg" alt="" width="650px" id="ends_with_us">
                </div>

                <p id="review1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nisi veniam libero mollitia dignissimos error! Iusto cumque asperiores facilis, error officiis dolor molestias minima nihil consequuntur odio, nam repellat qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, iusto. Omnis sint beatae incidunt expedita fugit debitis repellat facilis odio voluptate at molestias cum odit, enim similique sapiente nobis exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, similique fuga velit mollitia animi ex itaque nesciunt eaque quaerat pariatur voluptas nam officiis eius explicabo suscipit molestias, dignissimos sint adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quidem consectetur libero dolore error culpa explicabo, quae pariatur quis, porro quisquam consequuntur sapiente ab ea est odit labore incidunt quasi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione veritatis eum molestiae excepturi suscipit fugit cumque, reprehenderit quo, vel hic iusto ipsa optio nihil exercitationem! Sint cupiditate tempore in ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ratione consectetur pariatur tempora magni non mollitia, temporibus iusto officia architecto error enim rerum expedita animi, dolores odio alias magnam nobis!s Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates adipisci saepe fuga animi, harum molestias deleniti id, quaerat in dolores et molestiae magnam numquam consectetur repellendus maxime quo, accusantium repellat.
                </p>

                <button class="read_more"><a href="#" style="color: rgb(49, 54, 62); font-size: 15px;">Read More</a></button>
        </section>
         <!-- __________________________________Blogs1 ______________________________________________ -->
          
       <!-- __________________________________Searchbar & links ______________________________________ -->


        <section id="sect" style="margin-top: 3%">

            <div id="side2" style="height: 700px;">

                <input type="search" id="search" placeholder="Search"><a href=""><img src="../../Images/search.png" alt="" height="27px;" style="margin-left: -14%;"></a>

                <br><br><br>

                <p class="categories">Health: <a href="" class="links">Super Effective Meditation Tools You Probably Didn't Know About.</a> </p>

                <br>

                <a href="" class="links" style="margin-left: 10%;">Writing Tips for the Beginners.</a>

                <br><br><br>

                <a href="" class="links" style="margin-left: 10%;">Tips to Avoid Writer's Block.</a>

                <br><br>

                <p class="categories">Health: <a href="" class="links">Natural Ways To Reduce Hairfall This Monsoon.</a> </p>
                <br>
                <p class="categories"> Lifestyle: <a href="" class="links">  5 Amazing Places that Must Be <br />the Part of your Vacation Bucket List.  </a> </p>
            </div>
        </section>


        <!-- __________________________________Searchbar & links ______________________________________ -->
        <!-- __________________________________Blog 2 ______________________________________ -->


        <section id="sec_2">

            <h3 style="color: gray; font-family:'Times New Roman', Times, serif; font-weight: lighter;  margin-left: 27%;">-LIFESTYLE-</h3>

            <h1 style="color: rgb(70, 70, 70); font-family:'Times New Roman', Times, serif; font-weight: lighter; margin-top: 2%; margin-left: 11%; font-size: 40px; letter-spacing: 1px;">5 TIPS THE GONNA BE YOUR <br> &nbsp;&nbsp; &nbsp; SAVIOR THIS SUMMER</h1>

            <div id="blog2">

                <div id="poster2">
                    <img src="~/Content/Mine/Images/Summer.jpg" alt="" width="600px" id="summer">
                </div>

                <p id="review2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nisi veniam libero mollitia dignissimos error! Iusto cumque asperiores facilis, error officiis dolor molestias minima nihil consequuntur odio, nam repellat qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, iusto. Omnis sint beatae incidunt expedita fugit debitis repellat facilis odio voluptate at molestias cum odit, enim similique sapiente nobis exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, similique fuga velit mollitia animi ex itaque nesciunt eaque quaerat pariatur voluptas nam officiis eius explicabo suscipit molestias, dignissimos sint adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quidem consectetur libero dolore error culpa explicabo, quae pariatur quis, porro quisquam consequuntur sapiente ab ea est odit labore incidunt quasi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione veritatis eum molestiae excepturi suscipit fugit cumque, reprehenderit quo, vel hic iusto ipsa optio nihil exercitationem! Sint cupiditate tempore in ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ratione consectetur pariatur tempora magni non mollitia, temporibus iusto officia architecto error enim rerum expedita animi, dolores odio alias magnam nobis!s Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates adipisci saepe fuga animi, harum molestias deleniti id, quaerat in dolores et molestiae magnam numquam consectetur repellendus maxime quo, accusantium repellat. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum culpa, consequatur quasi temporibus magni ut enim sint aut sapiente fugit ipsam explicabo maiores quia nisi minima reiciendis sed exercitationem!
                </p>

                <button class="read_more"><a href="#" style="color: rgb(49, 54, 62); font-size: 15px;text-decoration: none;">Read More</a></button>
            </div>
        </section>


</body>
</html>