
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/General_layout.cshtml";
}



<!-- -----------------------------Body Slider type--------------------------------------------------- -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/Content/Mine/CSS/General/index.css">
</head>
<body>

    <div id="body_slider" style="">

        <div id="background">
            <!--Text wala part-->

            <div id="text">

                <center>
                    <h2 id="first_line">
                        I Am
                        </h1>

                        <div id="d1"><h1 id="second_line"></h1></div>
                </center>

                <div id="git"> <a href="https://github.com/Ayu2803" target="_blank"><img src="~/Content/Mine/Images/github.png" alt="" height="31px"> </a> </div>

                <div id="insta"> <a href="https://www.instagram.com/a_specsy_poet/" target="_blank"><img src="~/Content/Mine/Images/instagram.png" alt="" height="25px"></a></div>

                <div id="linkedin"><a href="https://www.linkedin.com/in/ayushi-pandey-221384237/" target="_blank"><img src="~/Content/Mine/Images/linkedin.png" alt="" height="23px"></a></div>
            </div>
        </div>

    </div>


    <!-- -----------------------------Body Slider type----------------------------------------------- -->
    <!-- ---------------------------------About Me--------------------------------------------------- -->




    <div id="body">

        <section id="section1">

            <div id="sub1">

                <div id="heading1"><h1 id="about1">About </h1></div>
                <div id="heading2"> <h1 id="me"> Me</h1> </div>
            </div>

            <div id="about_me">
                <p id="para1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod obcaecati error molestiae ad alias accusantium delectus. Explicabo natus tempore a quia ducimus, mollitia soluta.Facilis cumque numquam qui consequatur aperiam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt, nam et quis atque dignissimos facilis quam iure dolor hic quos delectus! Natus amet ex, quis beatae saepe neque accusamus.</p>
            </div>

            <div id="button"><big id="CV"><a href="" style="text-decoration: none; color: white;">Download CV</a></big></div>
    </div>

    <div id="sub2"> <img src="~/Content/Mine/Images/Ayushi.jpg" alt="" height="530px" style="border-radius: 10px; margin-top: -50%; margin-bottom: 3%;  margin-left: 36%;">  </div>

    <div id="sub3">

        <div id="skills">

            <h1 style="font-family: sans-serif;">My Skills</h1>

            <li>
                <h3>HTML</h3> <h4 class="percent"> 90%</h4> <span class="bar"><span id="html"></span></span>
            </li>

            <li>
                <h3>CSS</h3> <h4 class="percent"> 80%</h4> <span class="bar"><span id="css"></span></span>
            </li>

            <li>
                <h3>JS</h3> <h4 class="percent"> 50%</h4> <span class="bar"><span id="js"></span></span>
            </li>

            <li>
                <h3>.NET</h3> <h4 class="percent"> 70%</h4> <span class="bar"><span id="dotnet"></span></span>
            </li>

        </div>
        </section>
    </div>



    <!-- -----------------------------About Me--------------------------------------------------- -->
    <!-- -----------------------------Experience--------------------------------------------------- -->

    <div id="section2">
        <div id="sub4">

            <H1 style="font-family: sans-serif; color: white; padding-top: 8%; margin-left: 36.5%; font-size: xxx-large;">My Experience</H1>

            <div id="HTML">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">HTML</h2>

                <img src="~/Content/Mine/Images/html-5.png" alt="" height="28px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 5%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="CSS">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">CSS</h2>

                <img src="~/Content/Mine/Images/css-3.png" alt="" height="28px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 5%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>


            <div id="JS">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">JavaScript</h2>

                <img src="/Images/java-script.png" alt="" height="35px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 5%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="java">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">JAVA</h2>

                <img src="~/Content/Mine/Images/java.png" alt="" height="45px" style="margin-left: 5%; margin-top: -2%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 3%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="C">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">C Language</h2>

                <img src="~/Content/Mine/Images/c.png" alt="" height="28px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 5%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="DBMS">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">DataBase</h2>

                <img src="~/Content/Mine/Images/database-storage.png" alt="" height="35px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 3%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="CSharp">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">C#</h2>

                <img src="~/Content/Mine/Images/CS.png" alt="" height="40px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 3%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

            <div id="net">

                <h2 style="font-family: sans-serif; font-size: 28px; padding-left: 5%; padding-top: 4%; color: rgb(233, 231, 231);">ADO.NET</h2>

                <img src="~/Content/Mine/Images/dotNET.png" alt="" height="40px" style="margin-left: 5%; margin-top: -1.5%;">


                <p style="margin-left: 5%; margin-right: 5%; font-size: large; font-family:  sans-serif; color: rgb(212, 208, 208); margin-top: 3%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quisquam exercitationem quasi dolor sequi, illo voluptate cupiditate nulla! Dolorum adipisci, dicta esse a nemo nihil! Quod corrupti doloribus iste amet.</p>
            </div>

        </div>
    </div>>




    <!-- -----------------------------Experience--------------------------------------------------- -->
    <!-- -----------------------------my_Services--------------------------------------------------- -->


    <section id="my_services">
        <h1 id="service_heading">
            Services
        </h1>

        <div id="description_div">
            <p id="service_description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis vel asperiores quas, atque fuga exercitationem natus, pariatur inventore voluptatem ea totam fugit similique sint quisquam minus vero sunt numquam.
            </p>
        </div>

        <div id="poetry">
            <img src="~/Content/Mine/Images/6.png" alt="" height="120px" style="margin-left: 36%; margin-top: 5%;">
            <h1 id="poem_heading">Poems</h1>
            <p id="poem_description"> Lorem ipsum dolor sit amet adipisicing elit. Dignissimos voluptates laudantium persp <br> iciatis cumque porro saepe <br> at explicabo, sequi velit ill <br> um facilis</p>
        </div>

        <div id="web">
            <img src="~/Content/Mine/Images/1.png" alt="" height="115px" style="margin-left: 36%; margin-top: 7%;">
            <h1 id="web_heading">Web Development</h1>
            <p id="web_description"> Lorem ipsum dolor sit amet adipisicing elit. Dignissimos voluptates laudantium persp <br> iciatis cumque porro saepe <br> at explicabo, sequi velit ill <br> um facilis</p>
        </div>

        <div id="blog">
            <img src="~/Content/Mine/Images/blog.png" alt="" height="110px" style="margin-left: 36%; margin-top: 7%;">
            <h1 id="blog_heading">Blogs</h1>
            <p id="blog_description"> Lorem ipsum dolor sit amet adipisicing elit. Dignissimos voluptates laudantium persp <br> iciatis cumque porro saepe <br> at explicabo, sequi velit ill <br> um facilis</p>
        </div>
    </section>
    </div>


    <!-- -----------------------------my_Services--------------------------------------------------- -->
    <!-- -----------------------------portfolio--------------------------------------------------- -->



        <!-- -----------------------------portfolio--------------------------------------------------- -->
        <!-- -----------------------------Contact me--------------------------------------------------- -->

        <section id="contact_me">

            <h1 style="font-size: xxx-large; font-family: sans-serif; color: whitesmoke; padding-top: 5%; margin-left: 43%;">Contact Me</h1>

            <p style="color: rgb(212, 208, 208); font-family: sans-serif; font-size: large; margin-left: 21%; margin-right: 15%; margin-top: 1%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, suscipit mollitia qui exercitationem repellendus recusandae, laboriosam minima quam alias dolores, voluptatibus incidunt quas soluta dolorum esse praesentium provident natus iusto.</p>

            <div id="form_div">

                <form action="" id="form" method="post">

                    <input type="text" placeholder="Name" style="background-color: #1c1e20;
           box-shadow: 5px 5px 10px 2px rgb(2, 2, 2), -1px -1px 10px 2px rgb(65, 65, 65); width: 450px; height: 48px; font-size: 17px; padding-left: 1%; border: none;" name="name">

                    <input type="text" placeholder="Email" style="background-color: #1c1e20; border: none;
           box-shadow: 5px 5px 10px 2px rgb(2, 2, 2), -1px -1px 10px 2px rgb(65, 65, 65); width: 450px; height: 48px; font-size: 17px; padding-left: 1%; margin-left: 3%;" name="email">

                    <br><br>

                    <input type="text" placeholder="Subject" style="background-color:  #1c1e20; border: none; box-shadow: 5px 5px 10px 2px rgb(2, 2, 2), -1px -1px 10px 2px rgb(65, 65, 65); width: 960px; height: 48px; font-size: 17px; padding-left: 1%;  margin-top: 1%;" name="subject">

                    <br><br>

                    <textarea name="" id="" cols="85" rows="8" placeholder="Message" style="background-color:  #1c1e20; box-shadow: 5px 5px 10px 2px rgb(2, 2, 2), -1px -1px 10px 2px rgb(65, 65, 65); border: none; margin-top: 1%; font-size: x-large; padding-top: 1%; padding-left: 1%;" name="message"></textarea>

                    <br><br>

                    <input type="submit" value="Send Message" style="background-color: #1c1e20; border: none; box-shadow: 5px 5px 10px 2px rgb(2, 2, 2), -1px -1px 10px 2px rgb(65, 65, 65); width: 180px; height: 53px; font-size: 17px; padding-left: 1%; color: white
         ; font-size: 19.9px; margin-top: 2%; margin-left: 33%; border-radius: 10px;">
                </form>
            </div>
        </section>

</body>
