
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/Forms_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>

    <link rel="stylesheet" href="/Content/Mine/CSS/General/signup.css">
</head>
<body>

    <div id="main" style="margin-top: -8%; height: 730px;">

        <div id="form">

            <form method="post" id="sign_in" style="width: 390px; padding-left: 5%; margin-top: 4%; height: 560px; margin-top: 5%" enctype="multipart/form-data">

                <div id="heading">
                    <h1 style="color: white; font-family: sans-serif; font-size: xxx-large; font-weight: lighter; margin-left: 21%; margin-top: 5%;">Sign Up</h1>
                </div>

                <input type="text" placeholder="Enter username " style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 5%; color: white; background: transparent;" name="username">

                <br><br>

                <input type="email" placeholder="Email" style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 5%; color: white; background: transparent;" name="email">

                <br><br>

                <input type="password" placeholder=" Password" style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 5%; color: white; background: transparent;" name="password">

                <br><br>


                <label for="Female" style="  font-size: 17px; font-weight: bold; letter-spacing: 1px; padding-left: 3%; color: white;">Female</label>

                <input type="radio" style="  font-size: 17px; letter-spacing: 1px; background: transparent;" value="Female" name="gender">



                <label for="Female" style=" font-size: 17px; font-weight: bold; letter-spacing: 1px; padding-left: 3%; color: white;">Male</label>

                <input type="radio" style="  font-size: 17px; letter-spacing: 1px;  background: transparent;" name="gender" value="Female">


                <label for="Female" style=" font-size: 17px; font-weight: bold; letter-spacing: 1px; padding-left: 3%; color: white;">Other</label>

                <input type="radio" style="; background: transparent;" name="gender" value="Female">


                <br><br>


                <input type="file" style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 3%; color: white;" name="Photo">

                <br><br>

                <input type="submit" value="Sign Up" style="height: 40px; width: 150px; background-color: rgb(154, 6, 154); color: white; border: none; box-shadow: 5px 5px 8px 1px rgb(10, 10, 10); margin-top: 10%; font-size: 19px; border-radius: 8px; margin-left: 21%;">

                <br><br>


            </form>

        </div>

    </div>

</body>
</html>

