
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/Forms_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/Content/Mine/CSS/General/login.css">
</head>
<body>

    <div id="main" style=" height: 900px; padding-top: 10%">

        <div id="form">

            <form method="post" enctype="multipart/form-data" id="sign_in" style="width: 400px; padding-left: 5%; margin-top: 15%;">

                <div id="heading">
                    <h1 style="color: white; font-family: sans-serif; font-size: xxx-large; font-weight: lighter; margin-left: 21%; margin-top: 5%;">Sign In</h1>
                </div>

                <input type="text" placeholder="Username or email" style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 5%; color: white;" name="username">

                <br><br>

                <input type="password" placeholder="Password" style="width: 300px; height: 30px; font-size: 17px; letter-spacing: 1px; padding-left: 3%; background: transparent; border: none; border-bottom: 3px solid purple; margin-top: 7%; color: white;" name="password">

                <br><br>

                <input type="submit" value="Sign in" style="height: 40px; width: 150px; background-color: rgb(154, 6, 154); color: white; border: none; box-shadow: 5px 5px 8px 1px rgb(10, 10, 10); margin-top: 10%; font-size: 19px; border-radius: 8px; margin-left: 21%;">

                <br><br>

                <p style="color: white; font-size: 19px; margin-top: 8%; margin-left: 13%;">Create an account <a href="#">Sign Up</a></p>

            </form>

        </div>

    </div>

</body>
</html>

