<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

    <link rel="stylesheet" href="/Content/Mine/CSS/General/index.css">
 
    <title>@ViewBag.Title</title>
</head>
<body>


    <div id="main">

 <!-- -------------------------------------header--------------------------------------------------- -->


        <header style="">

            <div id="navigation">
                <nav id="navbar">

                    <div id="name">
                        <h1 id="fname">Ayushi</h1>  <!-- first name -->
                        <h1 id="lname">Pandey</h1>  <!-- last name -->
                    </div>

                    <ul>
                        <li><a href="#header" id="home" class="nav_link">Home</a></li>
                        <li><a href="#section1" id="about" class="nav_link">About</a></li>
                        <li><a href="#sub2" id="portfolio" class="nav_link">Portfolio</a></li>
                        <li><a href="/Home/Blog" id="blogs" class="nav_link">Blogs</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><a href="/Home/Poetry" id="services" id="poem" class="nav_link">Poetry</a></li>
                    </ul>

                    <div id="contact"><a href="Home/SignIn" class="link"><big id="big1">Sign in</big></a></div>

                    <div id="hire"> <a href="Home/SignUp" class="link"><big id="big2">Sign up</big></a> </div>
                </nav>
            </div>
        </header>

            @RenderBody()



            <footer>

                <section id="subscribe" style="width: 100%;">

                    <img src="/Content/Mine/Images/open-mail.png" alt="" height="70px" style="margin-left: 47%; margin-top: 5%;">

                    <h1 style="color: whitesmoke; font-family: sans-serif; font-size: 40px; font-weight: lighter; padding-top: -1.5%; margin-left: 30%">Get The latest Update by Email</h1>

                    <div id="input">
                        <input type="email" placeholder="Enter your email here...." style="height: 38px; margin-top: 1.5%; margin-left: 5%; width: 300px;  font-size: large; padding-left: 7%; border: none;" name="email">

                        <input type="submit" value="Subscribe" style="width: 150px; height: 50px; background-color: black; color: whitesmoke; font-size: larger; font-family: sans-serif; font-weight: bold; letter-spacing: 1px; border-radius: 30px; margin-left: 4.7%; margin-top: 0.9%;" name="subscribe">
                    </div>

                </section>

                <div id="footer_bottom" style="margin-top:-50px; width: 100%;">

                    <div id="footer_img">

                        <div style="margin-top: -2%; margin-left: 5%;">
                            <a href="https://github.com/Ayu2803" target="_blank"><img src="~/Content/Mine/Images/github.png" alt="" height="38px" style="box-shadow: -3px -3px 8px 1px rgb(83, 83, 78); border-radius: 25px;"></a>
                        </div>

                        <div style="margin-top: -4.5%; margin-left: 11%;">
                            <a href="https://www.instagram.com/a_specsy_poet/" target="_blank">
                                <img src="~/Content/Mine/Images/instagram.png" alt="" height="35px" style="margin-left: 2%; box-shadow: -3px -3px 8px 1px  rgb(83, 83, 78); border-radius: 8px;">
                            </a>
                        </div>

                        <div style="margin-top: -4.4%; margin-left: 19%;">
                            <a href="https://www.linkedin.com/in/ayushi-pandey-221384237/" target="_blank">
                                <img src="~/Content/Mine/Images/linkedin.png" alt="" height="35px" style="margin-left: 2%;   box-shadow: -3px -3px 8px 1px  rgb(83, 83, 78); border-radius: 5px;">
                            </a>
                        </div>

                        <div style="margin-left: 28%; margin-top: -4.6%;">
                            <a href="mailto:ayushipandey280303@gamil.com" target="_blank"> <img src="~/Content/Mine/Images/mail.png" alt="" height="41px" style="box-shadow: -3px -3px 8px 1px rgb(83, 83, 78); border-radius: 25px;"> </a>
                        </div>

                    </div>
                </div>
            </footer>

        </div>

</body>
</html>
